<h1 class='title'>Viking Store Analytics</h1>

<section class="row">
  <articles class="col-md-6 panel">
    <h2>1. Overal Platform</h2>
    <h3>Last 7 Days</h3>
      <table>
        <th>
          <td>Item</td>
          <td>Data</td>
        </th>
        <tr>
          <td>New Users</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Orders</td>
          <td>150</td>
        </tr>
        <tr>
          <td>New Products</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>$50,000</td>
        </tr>
      </table>
    <h3>Last 30 Days</h3>
    <h3>Total</h3>
  </articles>
  <articles class="col-md-6 panel"></articles>
</section>
<section class="row">
  <articles class="col-md-6 panel"></articles>
  <articles class="col-md-6 panel"></articles>
</section>
