<h1 class='title'>Viking Store Analytics</h1>

<section class="row">

  <!-- Overall platform -->
  <articles class="col-md-6 panel">
    <h2>1. Overall Platform</h2>
    <h3>Last 7 Days</h3>
    <table>
      <th>
        <td>Item</td>
        <td>Data</td>
      </th>
      <tr>
        <td>New Users</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Orders</td>
        <td>150</td>
      </tr>
      <tr>
        <td>New Products</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td>$50,000</td>
      </tr>
    </table>

    <h3>Last 30 Days</h3>
    <table>
      <th>
        <td>Item</td>
        <td>Data</td>
      </th>
      <tr>
        <td>New Users</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Orders</td>
        <td>150</td>
      </tr>
      <tr>
        <td>New Products</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td>$50,000</td>
      </tr>
    </table>

    <h3>Total</h3>
    <table>
      <th>
        <td>Item</td>
        <td>Data</td>
      </th>
      <tr>
        <td>New Users</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Orders</td>
        <td>150</td>
      </tr>
      <tr>
        <td>New Products</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td>$50,000</td>
      </tr>
    </table>
  </articles>

  <!-- User Demos and Behavior -->
  <articles class="col-md-6 panel">
    <h2>2. User Demographics and Behavior</h2>
    <h3>Top Three States Users Live In (Billing)</h3>
    <table>
      <th>
        <td>Item</td>
        <td>Data</td>
      </th>
      <tr>
        <td>California</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Texas</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Oregon</td>
        <td>3</td>
      </tr>
    </table>

    <h3>Top Three Cities Users Live In (Billing)</h3>
    <table>
      <th>
        <td>Item</td>
        <td>Data</td>
      </th>
      <tr>
        <td>Los Angeles</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Austin</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Portland</td>
        <td>3</td>
      </tr>
    </table>

    <h3>Top Users With...</h3>
    <table>
      <th>
        <td>Item</td>
        <td>User</td>
        <td>Quantity</td>
      </th>
      <tr>
        <td>Highest Single Order Value</td>
        <td>Joe Smith</td>
        <td>$650</td>
      </tr>
      <tr>
        <td>Highest Lifetime Value</td>
        <td>10</td>
        <td>$561</td>
      </tr>
      <tr>
        <td>Highest Average Orer Value</td>
        <td>3</td>
        <td>4654</td>
      </tr>
      <tr>
        <td>Most Orders Placed</td>
        <td>3</td>
        <td>6548</td>
      </tr>
    </table>
  </articles>
</section>
<section class="row">

  <!-- Order Statistics -->
  <articles class="col-md-6 panel">
    <h2>2. Order Statistics</h2>
    <h3>Top Three States Users Live In (Billing)</h3>
    <table>
      <th>
        <td>Item</td>
        <td>Data</td>
      </th>
      <tr>
        <td>California</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Texas</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Oregon</td>
        <td>3</td>
      </tr>
    </table>

    <h3>Top Three Cities Users Live In (Billing)</h3>
    <table>
      <th>
        <td>Item</td>
        <td>Data</td>
      </th>
      <tr>
        <td>Los Angeles</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Austin</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Portland</td>
        <td>3</td>
      </tr>
    </table>

    <h3>Top Users With...</h3>
    <table>
      <th>
        <td>Item</td>
        <td>User</td>
        <td>Quantity</td>
      </th>
      <tr>
        <td>Highest Single Order Value</td>
        <td>Joe Smith</td>
        <td>$650</td>
      </tr>
      <tr>
        <td>Highest Lifetime Value</td>
        <td>10</td>
        <td>$561</td>
      </tr>
      <tr>
        <td>Highest Average Orer Value</td>
        <td>3</td>
        <td>4654</td>
      </tr>
      <tr>
        <td>Most Orders Placed</td>
        <td>3</td>
        <td>6548</td>
      </tr>
    </table>
  </articles>
  <articles class="col-md-6 panel"></articles>
</section>
